* {
    margin: 0;
    margin-top:10px;
    list-style: none;
}

body { 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #373e98;
}

h1 { 
    text-align: center;
    color: white;
    font-weight: bold;
}

#add-book-button {
    text-align: center;
}

#add-book-form {
    text-align: center;
}

#library {
    text-align: center;
}

#book-list {
    text-align: center;
}

li {
    display: inline-block;
    background-color: #f16775;
    margin: 20px;
    width: 15vw;
    height: 40vh;
    border: 1px solid ghostwhite;
    border-radius: 4px 4px;
}

p {
    color: ghostwhite;
    font-size: 1.5rem;
    text-align: center;
}

#delete-icon {
    background-color: #ceb92c;
    color: #2a2a2a;
    cursor: pointer;
}

#delete-icon:hover {
    background-color: ghostwhite;
    color: #2a2a2a;
    transform: scale(1.1);
    border-radius: 4px 4px;
}