* {
    margin: 0;
    list-style: none;
}

h1 { 
    text-align: center;
    color: green;
    font-weight: bold;
}

#add-book-button {
    text-align: center;
}

#add-book-form {
    text-align: center;
}

#library {
    text-align: center;
}

#book-list {
    text-align: center;
}

li {
    display: inline-block;
    background-color: red;
    margin: 20px;
    width: 15vw;
    height: 40vh;
}