#main-container {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;

}

#calc-screen {
    width: 50%;
    height: 10vh;
    border: 2px solid black;
    text-align: right;
    font-size: 3rem;
}

#calc-buttons{
    width: 50%;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    border: 2px solid black;
}

.button { 
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle;
}

.button-edit{
    padding: 30px; 
    width: 50px;
    border: 1px solid;
    background-color: orange;
    text-align: center;
    margin: auto;
}