#main-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;

}

#calc-screen {
    width: 50%;
    height: 5vh;
    border: 2px solid black;
    text-align: right;
}

#calc-buttons{
    width: 50%;
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    border: 2px solid black;
}

.button{
    
    text-align: center;
    margin: auto;
}