body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,88,92,1) 0%, rgba(227,173,236,1) 100%);
}

.fall{
    transform: translateY(10rem) rotate(20deg);
    opacity: 0;
}

.completed{
    text-decoration: line-through;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.select {
    position: absolute;
    right: 70%;
}