#notes-div{
    float:right;
    background-color: rgb(157, 245, 135);
    width: 25%;
}

#notes-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

#notes-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
}