@font-face {
    font-family: 'op-font';
    src: url("/landing-page/assets/fonts/op-font.ttf");
}

::-webkit-scrollbar {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'op-font';
    /* border: 2px solid red; */
}


#img-logo {
    width: 100px;
}

.top-navbar {
    display: flex;
    justify-content: space-between;
    background-color: beige;
}

.top-navbar-items {
    padding: 30px 10px 10px 10px;
}

.top-navbar-items a {
    margin: 20px;
    text-decoration: none;
    font-size: 2rem;
}
/* END OF TOP NAVBAR */

#crew-content1 {
    height:80vh;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: plum;
}

.content1 {
    font-size: 2.5rem;
    text-align: justify;
    padding: 2%;
}
/* END OF FIRST SECTION*/

.second-section {
    margin-bottom: 15px;
}

.top-second-section {
    font-size:3rem;
    font-weight: bold;
    text-align: center;
}

.items-members-second-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px
}

.items-members-second-section img {
    width:200px;
}

.title-second-section {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 4rem;
}

.items-members-second-section-second-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    gap: 10px
}

.items-members-second-section-second-row img {
    width: 200px;
}

.items-members-second-section-third-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    gap: 10px
}

.items-members-second-section-third-row img {
    width: 200px;
}

figcaption {
    font-family: 'tahoma';
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}
/*END OF SECOND SECTION*/


.third-section {
    background-color:blanchedalmond;
    padding-bottom: 20px;
}

.title-third-section {
    text-align: center;
    font-size: 4rem;
    margin: 20px;
    font-weight: bold;
}

.button-third {
    margin:0 auto;
    display: block;
    height: 80px;
    width: 200px;
}
/* END OF THIRD SECTION*/

.fourth-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: aliceblue;
    padding-top:5px;
    padding-bottom: 5px;
}

.fourth-left {

}

.fourth-middle {
    
}

.title-fourth-section-left, .title-fourth-section-middle, .title-fourth-section-right{
    font-size: 2rem;
}

.fourth-section button, input {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
}

.join-us-mail::placeholder {
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
}

.brook-button, .sanji-button, .join-us-button {
    font-size: 1.4rem;
    font-style: italic;
    color: #5e5e5e;
}