body {
    background-color: rgb(255, 205, 205);
}

a { 
    text-decoration: none;
    color: black;
}

#top-nav {
    text-align: center;
}

#menu-items{
    padding-right: 3em;
    padding-left: 3rem;
    font-size: 2rem;
    font-family: tahoma;
}

#menu-items:hover{
    color: white;
    text-shadow:1px 1px black;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: -25px;
}

#footer-items {
    display: inline-block;
    padding-right: 2rem;
}

#pepperoni-img, #calabresa-img, #portuguesa-img{
    width: 300px;
}